<div class="modal-body">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th width="30%">Client Id</th>
                <td><strong data-bind="text: client.id"></strong></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><p data-bind="text: client.email"></p></td>
            </tr>
            <tr>
                <th>First Name</th>
                <td><p data-bind="text: client.first_name"></p></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><p data-bind="text: client.last_name"></p></td>
            </tr>
            <tr>
                <th>Afiliate Day</th>
                <td><p data-bind="text: affiliateDay"></p></td>
            </tr>
        </tbody>
    </table>
</div>