
<section id="page-clients" class="page">

    <div class="page-header">
        <div data-bind="if: displayMessage">
            <div data-bind="alert: { message: message, type: type }" class="alert-dismissible"></div>
        </div>
        <h1>Create a new request</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 well" >
                <form class="form-horizontal" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-2 control-label">Title</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="title" data-bind="value: title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-2 control-label">Description</label>
                            <div class="col-md-8">
                                <textarea rows="3" type="text" class="form-control" placeholder="description" data-bind="value: details"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-2 control-label">Client</label>
                            <div class="col-md-8">
                                <select class="form-control" type="select" data-bind="options: emailClients, value: client"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-2 control-label">Client Priority</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="client priority" data-bind="value: client_priority">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-2 control-label">Product Area</label>
                            <div class="col-md-8">
                                <select class="form-control" type="select" data-bind="options: areas, value: product_area"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-2 control-label">Ticket Url</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="ticket url" data-bind="value: ticket_url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-md-offset-2 control-label">Target Date</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="target date" data-bind="value: target_date">
                            </div>
                        </div>
                        </fieldset>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="submit" class="btn btn-raised btn-success" data-bind="click: submit"  >Submit</button>
                                <button href="#requests" class="btn btn-raised btn-warning">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>