<table class="table table-striped">
    <tbody>
        <tr>
            <th width="30%">Request Id</th>
            <td><strong data-bind="text: request.id"></strong></td>
        </tr>
        <tr>
            <th>Attended Status</th>
            <td><p data-bind="text: request.attended"></p></td>
        </tr>
        <tr>
            <th>Client Info</th>
            <td><p data-bind="text: request.client_id"></p></td>
        </tr>
        <tr>
            <th>Client Priority</th>
            <td><p data-bind="text: request.client_priority"></p></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><p data-bind="text: request.created_at"></p></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><p data-bind="text: request.description"></p></td>
        </tr>
        <tr>
            <th>Product Area</th>
            <td><p data-bind="text: request.product_area"></p></td>
        </tr>
        <tr>
            <th>Target Date</th>
            <td><p data-bind="text: request.target_date"></p></td>
        </tr>
        <tr>
            <th>Ticket Url</th>
            <td><p data-bind="text: request.ticket_url"></p></td>
        </tr>

    </tbody>
</table>
