<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th width="30%">Request Id</th>
                        <td><strong data-bind="text: request_id"></strong></td>
                    </tr>
                    <tr>
                        <th>Client Info</th>
                        <td><p data-bind="text: client_id"></p></td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td><p data-bind="text: created_at"></p></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td><p data-bind="text: description"></p></td>
                    </tr>
                    <tr>
                        <th>Target Date</th>
                        <td><p data-bind="text: target_date"></p></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <form>
              <div class="form-group form-group-sm">
                  <div class="form-group">
                      <div class="col-md-10 col-md-offset-1">
                          <textarea rows="2" type="text" class="form-control" placeholder="Details" data-bind="value: detail"></textarea>
                      </div>
                  </div>
              </div>
            </form>
        </div>
    </div>
</div>
