<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th width="30%">Request Id</th>
                        <td><strong data-bind="text: request_id"></strong></td>
                    </tr>
                    <tr>
                        <th>Client Info</th>
                        <td><p data-bind="text: client_id"></p></td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td><p data-bind="text: created_at"></p></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td><p data-bind="text: description"></p></td>
                    </tr>
                    <tr>
                        <th>Target Date</th>
                        <td><p data-bind="text: target_date"></p></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <form>
              <div class="form-group form-group-sm">
                  <label for="detailInput" class="col-md-2 control-label"><h2>Details</h2></label>
                  <textarea class="col-md-10 form-control" placeholder="Detail" rows="3" id="detailInput"
                            data-bind="value: detail, valueUpdate: 'afterkeydown'"></textarea>
                  <span class="help-block">Please enter a detail</span>
              </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-raised btn-danger" type="button" data-bind="click: cancel" data-dismiss="modal">Cancel</button>
    <button class="btn btn-raised btn-success" type="button" data-bind="click: success"  >Submit</button>
</div>

<div class="modal-body">

</div>